@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
/* ===== CH ===== */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC&display=swap');


html {
    overflow-x: hidden;
}

* {
    font-family: 'Secular One', sans-serif, 微軟正黑體;
}

@media only screen and (max-width: 576px) {
    html {
        font-size: 12px;
    }
}

html {
    scroll-behavior: smooth;
}

.noto-serif tc-regular {
    font-family: "Noto Serif TC", serif;
    font-weight: 400;
    font-style: normal;
  }
  


.vh-80 {
    height: 80vh;
}

/* 進場動畫 */
@keyframes close {
    0% {
        height: 0vh;
    }

    100% {
        height: 100vh;
    }
}

.fg {
    position: absolute;
    top: 0;
    background-color: black;
    width: 100vw;
    height: 100vh;
    z-index: 10;

}

.open {
    animation-name: close;
    animation-duration: 2s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    animation-direction: reverse;
}

/* =====HELLO SECTION===== */
nav.navbar {
    transition: 0.5s;
}

nav.navbar.navbar-gb {
    background-color: white;
    box-shadow: 2px 2px 15px rgba(51, 51, 51, 0.8);
}

nav {
    .nametitle {
        font-size: 2.5rem !important;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        transition: 0.5s;
    }

    .nametitle:hover {
        color: #c1b6a4;
    }
}


.title {
    text-align: center;
    font-size: 8rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.titleitem {
    color: rgb(19, 18, 18);
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    transition: 0.5s;
}

.titleitem:hover {
    color: #c1b6a4 !important;
}

/* 打字動畫 */
@keyframes typing {

    0% {
        width: 20rem
    }

    35%,
    45% {
        width: 6.5rem
    }

    80%,
    100% {
        width: 20rem
    }
}

.typing {
    width: 0.6rem;
    overflow: hidden;
    white-space: nowrap;
    border-right: .05em solid;
    animation: typing 5s steps(15) infinite,
        caret 1s steps(1) infinite;
}

@keyframes typingA {

    0% {
        width: 21rem
    }

    35%,
    45% {
        width: 14.5rem
    }

    80%,
    100% {
        width: 21rem
    }
}

@media only screen and (min-width: 576px) {
    .typingA {
        width: 0.6rem;
        overflow: hidden;
        white-space: nowrap;
        border-right: .05em solid;
        animation: typingA 5s steps(15) infinite,
            caret 1s steps(1) infinite;
    }
}

.subtitle {
    margin-top: -2rem;
    margin-bottom: 2rem;
}

.side-bar {
    position: fixed;
    bottom: 15rem;
    right: 4rem;
    font-size: small;

    a {
        text-decoration: none;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 1rem;
    }

    a:hover {
        color: #c1b6a4 !important;
        /* border-color: #9d9da0 !important; */
    }
}

.go {
    width: 30px;
    border-radius: 50%;
    text-align: center;
    margin-bottom: 0.5rem;
    position: relative;
}

.hello {
    font-weight: bold;
    font-size: 4rem;
    line-height: 1rem;
}

.name {
    font-family: Impact, 'Secular One', 'Arial Narrow Bold', sans-serif;
    font-size: 8rem;
    /* text-align: center; */

}

/* GO DOWN */
.godown {
    position: relative;
    animation-name: godown;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes godown {
    0% {
        top: -15px;
        opacity: 0;
    }

    50% {
        top: 10px;
        opacity: 1;
    }

    100% {
        top: -15px;
        opacity: 0;
    }
}

/* ===== ABOUT ===== */
.header {
    position: relative;
    /* top: -15vh; */
    width: 100%;
    height: 100vh;
    background-color: rgb(245, 244, 243);
    /* margin: auto; */
    text-align: center;
    margin-bottom: -100;
}

.img-about {
    padding: 0.25rem;
    background-color: #fff;
    border: 1px solid var(--bs-border-color);
    border-radius: 0.375rem;
    max-width: 100%;
    height: auto;
}

.mypic1 {
    right: -20px;
    transform: rotate(380deg);
    transform: translateX(20px);
    position: absolute;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.mypic2 {
    transform: rotate(-20deg);
    transform: translateX(-20px);
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes pic1 {
    0% {}

    100% {
        transform: rotate(340deg);
    }
}

@keyframes pic2 {
    0% {}

    100% {
        transform: rotate(340deg);
        transform: rotate(10deg);
    }
}

table.edu {
    width: 100%;
    .tdtitle {
        width: 30%;
    }
    td {
        border: 3px rgb(200, 200, 200) dashed;
    }
}


.tool {
    text-align: center;
    display: flex;
    justify-content:space-between;
    align-items: center;

    /* 按鍵效果 */
    a {
        text-decoration: none;
        transition: 0.2s color linear !important;
        transition: 0.1s border-color linear !important;
        width: 80px;
        height: 80px;
    }
    img {
        width: 80px;
        height: 80px;
    }

}

.tool a:hover {
    color: rgb(255, 187, 0) !important;
    border-color: rgb(61, 61, 255) !important;
}

@media only screen and (max-width: 1200px) {
    .tool a{
        width: 40px;
        height: 40px;
    }
    .tool img{
        width: 40px;
        height: 40px;
    }

}

/*  =====PORTFOLIO SECTION===== */
.nav-link {
    color: rgb(200, 200, 200);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.mycard {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    b {
        font-size: 1rem;
    }
}

.mycard:hover {
    background-color: rgb(200, 200, 200);
    border-radius: 10px;
    transition: 0.5s;
}

.boxContent {
    border-spacing: 0;
    border-collapse: separate;
    font-size: 0.8rem;
    margin: auto;
    text-align: center;
}

@media only screen and (max-width: 576px) {
    .boxContent {
        font-size: 2rem;
    }
}

tr,
td {
    border: 1px solid black;
}

tr:first-child td:first-child {
    border-top-left-radius: 10px;
}

tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

tr:first-child td:last-child {
    border-top-right-radius: 10px;
}

tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}



@media only screen and (max-width: 576px) {
    table {
        transform: scale(0.8);
        height: 100px;
        width: 400px;
        /* position: relative;
      right: 10%;
      text-align: left; */
    }
}

@media only screen and (max-width: 820px) {
    table {
        transform: scale(0.7);
    }
}

/* ====== SWIPER ===== */
/* 將套件主色改為黃色 */
:root {
    --swiper-theme-color: #ffd153;
}

p {
    line-height: 1.5;
}

/* 依照設計稿客製化的卡片陰影 */
.card-shadow {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.14);
}

/* 調整 swiper 容器 */
.swiper {
    padding: 60px 16px 0 0;
}

.swiper-wrapper {
    margin-top: 50px;
    padding: 0 0 0 8px;
}

.swiper-slide {
    height: initial;
}

/* 將底部 pagination 分頁的 active 狀態改為想要的樣式 */
.swiper-pagination-bullet {
    background: var(--swiper-theme-color) !important;
    opacity: 1 !important;
    transition: 0.5s;
}

.swiper-pagination-bullet-active {
    padding: 0 8px;
    border-radius: 6px;
    transition: 0.5s;
}

/* 讓分頁圓點移至下方 */
.swiper-pagination {
    margin-top: 24px;
}

.img-frame {
    width: 100%;
    height: 490px;
    font-size: 5rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* @media only screen and (max-width: 820px) {
    .img-frame {
        height: 362px;
    }
} */

@media only screen and (max-width: 576px) {
    .img-frame {
        height: 630px;
    }
}

.icon-star {
    width: 16px;
    height: 16px;
}

/*  =====FOOTER===== */
.end {
    color: #fff !important;
    background-color: RGBA(33, 37, 41, var(--bs-bg-opacity, 1)) !important;
    display: flex;
}

.footer {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* BTN */
#chgL{
    font-weight: bolder;

}
/* @media only screen and (max-width: 700px) {
    #chgL{
      text-align: center;
      width: 2rem;
      width: 100%;
    }
    
    #chgL a{
      text-align: center;
      font-size: smaller;
    }
    } */